/* app.vue */
.slide-left-enter-active, .slide-left-leave-active,
.slide-right-enter-active, .slide-right-leave-active {
    transition: all 0.3s ease;
}
.slide-left-enter, .slide-right-enter {
    opacity: 1;
    transform: translate3d(0, 100px, 0);
}
.slide-right-leave-active, .slide-left-leave-active {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
}
@media (max-width: 540px) {
    .slide-left-enter-active, .slide-left-leave-active,
    .slide-right-enter-active, .slide-right-leave-active {
        transition: all 0.3s cubic-bezier(.55, 0, .1, 1);
    }
    .slide-left-enter {
        transform: translate(100%, 0);
    }
    .slide-right-enter {
        transform: translate(-100%, 0);
    }
    .slide-right-leave-active {
        transform: translate(100%, 0);
    }
    .slide-left-leave-active {
        transform: translate(-100%, 0);
    }
}
